@import "../../../assets/css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
	  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	  overflow-x:hidden;
}
img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.lt-wordslist-main-ui{
  ul{
    @include displayBox(vertical);
    li{
      -webkit-box-flex:1;
      font-size: .3rem;
      color:#fff;
      @include displayBox(horizontal);
      img{
        width:1.8rem;
        vertical-align: bottom;
        @include pos(r);
        top:.1rem;

      }
      canvas{
          @include pos(a);
          left:3rem;
          top:.4rem;
        }
      div{

        @include pos(r);
        

        &:first-of-type{
          margin-right: 1rem;
          width:2rem;
        }
        span{
          font-size: .8rem;
          margin-left: .3rem;
          @include pos(r);
          label{
            opacity:0;
          }
          em{
            @include pos(a);
            left: 0;
            font-style: normal;
          }
        }
      }
    }
  }
}